// |===========================================================================|
// |--------------------------| Paramètres du site |---------------------------|
// |===========================================================================|

// --------- Couleur du site ---------

$color-primary: #40835b;
$color-secondary: #e9edea;
$color-secondary-darker: #00000008;
$color-secondary-lighter: #f4f4f4;
$color-tr: #ffffff;

// --------- Nuance du site ----------

$faded-background: #264e36;
$fadedDark-background: #20412d;
$color-tooltip: #d7d7d7;

// --------- Nuance shadows ----------

$box-shadow: #21232614;

// --------- Nuance border -----------

$border-gray: #d1d1d1;
$border-shadow: #408f6026;

// --------- Nuance police -----------

$text-color-white: #e9edea;
$text-color-black1: #363434;
$text-color-black2: #585656;
$text-color-placeholder: #bdbdbd;
$text-error: #ac3d3d;

// --------- Police du site ----------

@font-face {
    font-family: 'Unbuntu-Bold';
    src: url(../assets/fonts/Ubuntu/Ubuntu-Bold.ttf);
}

@font-face {
    font-family: 'Unbuntu-regular';
    src: url(../assets/fonts/Ubuntu/Ubuntu-Regular.ttf);
}

// ------- Mixins et variables -------

$font-title: 'Unbuntu-Bold';

$font-text: 'Unbuntu-regular';

// ---------- Responsive ------------

// Tablet Version
$mg: 1024px;

// Large Tablet Version
$lg: 1210px;

// Small desktop Version
$xl: 1340px;

// ------- Ajustement du site --------

* {
    scroll-behavior: smooth;

    &:focus {
        outline: none;
    }
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-height: 100vh;
    background: linear-gradient(-45deg, $fadedDark-background 1%, $faded-background, $color-primary);
}

p,
ul,
h1,
h2,
h3,
h4,
h5 {
    margin: 0;
    list-style: none;
    padding: 0;
}

// ------- Style scrollbar --------

// ::-webkit-scrollbar {
//     width: 0.4em;
// }

// ::-webkit-scrollbar-track {
//     background: hsl(0, 0%, 13%);
// }

// ::-webkit-scrollbar-thumb {
//     background: hsl(0, 0%, 20%);

//     &:hover {
//         background: hsl(0 0% 60% / 0.5);
//     }
// }