// |===========================================================================|
// |------------------------------| Home Style |-------------------------------|
// |===========================================================================|

@use "../../styles/settings" as *;

// =============================================================================

.main-section {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}