// |===========================================================================|
// |-----------------------------| Header Style |------------------------------|
// |===========================================================================|

@use "../../../styles/settings" as *;

// =============================================================================

.header-section {

    padding-top: 30px;
    padding-left: 40px;

    .logo {

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 5px;
        background: none;
        border: none;
        user-select: none;
        filter: drop-shadow(0px 10px 38px rgba(33, 33, 33, 0.162)) drop-shadow(0px 10px 10px rgba(39, 39, 39, 0.22));

        &:hover {
            cursor: pointer;
        }

        i {
            font-size: 2.25em;
            color: $text-color1;
        }

        h1 {

            font-family: $font-text;
            font-size: 3em;
            color: $color-tr;

            span {

                font-family: $font-title;
                color: $text-color1;
            }
        }
    }

    .backHome {

        width: 60px;
        height: 60px;
        border-radius: 50%;
        border: none;
        user-select: none;
        background-color: $text-color1;
        box-shadow: rgba(33, 33, 33, 0.162) 0px 10px 38px, rgba(39, 39, 39, 0.22) 0px 10px 10px;
        transition: 0.3s ease;

        &:hover {
            cursor: pointer;
            transform: scale(1.1);
        }

        i {
            font-size: 2.25em;
            color: $color-primary;
        }
    }
}