// |===========================================================================|
// |-------------------------------| Adress Style |----------------------------|
// |===========================================================================|

@use "../../../styles/settings" as *;

// =============================================================================


.form-fieldset {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    width: 600px;
    gap: 10px 30px;
    margin-top: 20px;
    background-color: $color-secondary-darker;
    border: none;
    border-radius: 10px;

    legend {

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        background-color: $color-secondary;
        padding: 5px;
        border-radius: 30px;
        font-family: $font-text;
        font-size: 1.2em;
        color: $text-color-black1;

        i {
            font-size: 0.8em;
        }
    }

    .form-group {

        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;


        label {
            position: relative;
            font-family: $font-text;
            color: $text-color-black2;
            font-size: 1.2em;
            margin-bottom: 10px;

            &::after {
                content: "*";
                position: absolute;
                top: 0;
                right: -12px;
                color: $text-error;
            }
        }

        input,
        select {
            width: 270px;
            height: 40px;
            border: 1px solid $border-gray;
            border-radius: 8px;
            outline: none;
            background-color: $color-secondary-lighter;
            padding: 5px 5px;
            padding-left: 15px;
            font-size: 1.1em;
            margin-bottom: 5px;
            color: $text-color-black2;
            box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;

            &::placeholder {
                font-family: $font-text;
                color: $text-color-placeholder;
            }

            &:focus {
                outline: 1px solid $color-primary;
            }
        }

        #street {
            width: 570px;
        }

        .error-message {
            font-family: $font-text;
            font-size: 0.8em;
            color: $text-error;
        }
    }
}